<h1>Edit a Company value</h1>

<%= form_with(model: [:admins, company_value]) do |f| %>
  <%if company_value && if company_value.errors.any?  %>
    <div id="error_explanation">
      <h2>Errors that prohibited this Company value from being saved:</h2>

      <ul>
        <% @company_value.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
        <% end %>

      <%end%>
  <p>
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit %>
  </p>

<% end %>
