<h1>Company values listing page</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Edit Company value</th>
      <th>Delete Company value</th>
    </tr>
  </thead>

  <tbody>
    <% company_values.each do |company_value| %>
      <tr>
        <td><%= company_value.title %></td>
        <td><%=button_to 'Edit', edit_admins_company_value_path(company_value), method: :get %></td>
        <td><%=button_to 'Delete',admins_company_value_path(company_value), method: :delete, data: {confirm: "Are you sure?"}%></td>
    <% end %>
  </tbody>
</table>
      <%=button_to "Create New Company value", new_admins_company_value_path , method: :get%>
      <%= button_to 'Back to admins panel', admin_root_path, method: :get%>

