<h1>Kudos listing page</h1>
<p> <%if current_employee.number_of_available_kudos > 0%>
      <%=button_to "Create New Kudo", new_kudo_path , method: :get%>
    <% else %>
      <p><h6> You have used all your kudos</h6></p>
    <%end%>
</P>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Given by</th>
      <th>Received by</th>
      <th>Company value</th>
       <th colspan ="2">Edit or delete</th>
    </tr>
  </thead>

  <tbody>
    <% @kudos.each do |kudo| %>
      <tr>
        <td><%= kudo.title %></td>
        <td><%= kudo.content %></td>
        <td><%= kudo.giver&.email %></td>
        <td><%= kudo.receiver&.email %></td>
        <td><%= kudo.company_value&.title%></td>
        <% if employee_signed_in? && kudo.giver == current_employee%>
          <td><%=button_to 'Edit Kudo', edit_kudo_path(kudo), method: :get %></td>
          <td><%=button_to 'Delete Kudo',   kudo_path(kudo), method: :delete, data: {confirm: "Are you sure?"}%></td>
        <%end%>
    <% end %>
  </tbody>
</table>

