<h1>Kudos listing page</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Given by</th>
      <th>Received by</th>
      <th>Edit or delete Kudo</th>
    </tr>
  </thead>

  <tbody>
    <% @kudos.each do |kudo| %>
      <tr>
        <td><%= kudo.Title %></td>
        <td><%= kudo.Content %></td>
        <td><%= kudo.giver&.email %></td>
        <td><%= kudo.receiver&.email %></td>
        <% if employee_signed_in? && @kudo.employee == current.employee%>
          <%=button_to 'Edit Kudo', edit_kudo_path(kudo), method: :get%>
          <%=button_to 'Delete Kudo', destroy_kudo_path(kudo), method: :destroy_employee_session_path%>
        <%end%>
    <% end %>
  </tbody>
</table>
<p>
    <%=button_to "Create New Kudo", new_kudo_path , method: :get%>
</P>
