
       <ul class="navbar-nav"  mr-auto>
       <li class="nav-item">
            <%= link_to "Admin panel",href= '/admins/sign_in', class: 'nav-link' %>
          </li>
      <% if employee_signed_in? %>
         <li class="nav-item">
            <%= link_to "Sign out", destroy_employee_session_path, method: :delete, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <p>Available Kudos left to give: <%=current_employee.number_of_available_kudos%></p>
          </li>
          <li class="nav-item"  allign=right>
            <p>Total points earned: <%=current_employee.number_of_earned_points %></p>
          </li>
          <li class="nav-item"  allign=right>
            <p>Current employee logged: <%=current_employee.email %></p>
          </li>
      <%else%>
         <li class="nav-item">
            <%= link_to "Sign up", new_employee_registration_path, method: :get, class: 'nav-link' %>
          </li>
           <li class="nav-item">
            <%= link_to "Sign in", new_employee_session_path, method: :get, class: 'nav-link' %>
          </li>
      <%end%>
      </ul>
