<h1>Kudos listing page</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Given by</th>
      <th>Received by</th>
      <th colspan ="2">Delete Kudo</th>
    </tr>
  </thead>

  <tbody>
    <% @kudos.each do |kudo| %>
      <tr>
        <td><%= kudo.title %></td>
        <td><%= kudo.content %></td>
        <td><%= kudo.giver&.email %></td>
        <td><%= kudo.receiver&.email %></td>
          <td><%=button_to 'Delete Kudo',admins_kudo_path(kudo), method: :delete, data: {confirm: "Are you sure?"}%></td>
    <% end %>
  </tbody>
</table>
