# app/views/employees/rewards/delivery.html.erb

<h3>Choose a delivery method</h3>
<%= form_with(model: [:employees, @reward], url: employees_rewards_order_path(@reward), method: :patch) do |f| %>
  <% if @reward.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reward.errors.count, 'error') %> prohibited this reward from being saved:</h2>
      <ul>
        <% @reward.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :delivery_method %>
    <%= f.select :delivery_method, Reward.delivery_methods.keys %>
  </div>

  <% if @reward.post_delivery? %>
    <%= f.fields_for :address, current_employee.address || current_employee.build_address do |address_fields| %>
      <%= address_fields.label :street %>
      <%= address_fields.text_field :street %>

      <%= address_fields.label :postcode %>
      <%= address_fields.text_field :postcode %>

      <%= address_fields.label :city %>
      <%= address_fields.text_field :city %>
    <% end %>
  <% end %>

  <div>
    <%= f.submit 'Next Step' %>
  </div>
<% end %>
