<h3>Choose a delivery method</h3>
<%= form_with(model: [ :employees, reward], url: employees_rewards_order_path) do |f| %>
  <% if reward.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reward.errors.count, 'error') %> prohibited this reward from being saved:</h2>

      <ul>
        <% reward.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :delivery_method %>
    <%= f.select :delivery_method, Reward.delivery_methods.keys %>
  </div>

  <div>
    <%= f.submit 'Next step' %>
  </div>
<% end %>
