<h3>Please enter your delivery address</h3>

<%= form_with(model: [:employees, @reward], url: employees_rewards_order_path) do |f| %>
  <% if @reward.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reward.errors.count, 'error') %> prohibited this reward from being saved:</h2>
      <ul>
        <% @reward.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <p>
  <div>
    <%= f.label :street %>
    <%= f.text_field :street %>
  </div>
    </p>
    <p>
  <div>
    <%= f.label :postcode %>
    <%= f.text_field :postcode %>
  </div>
    </p>
    <p>
  <div>
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>
    </p>
    <p>
  <div>
    <%= f.submit 'Save Order' %>
  </div>
    </p>
<% end %>

