<h1>Rewards listing page</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Show Reward</th>
      <th>Buy Reward</th>
      <th>Category</th>
      <th>Reward image</th>
    </tr>
  </thead>
    <%= will_paginate reward, :container => false %>
  <tbody>
    <% reward.each do |reward| %>
      <tr>
        <td><%= reward.title %></td>
          <td><%= reward.price %>$</td>
        <td><%=button_to 'Show',  employees_reward_path(reward), method: :get %></td>
        <td><%=button_to 'Buy',  employees_orders_path(reward_id: reward.id), method: :post%></td>
        <td><%= reward.category.title %></td>
         <td><%= image_tag reward.image if reward.image.attached? %></td>
     </tr>

    <% end %>

  </tbody>
</table>
<h3>Filter by categories</h3>
<ul>

<%Category.all.each do |category|%>
<li><%= link_to category.title, employees_rewards_category_path(category)%></li>
<%end%>
</ul>
