<h1> Reward's description </h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Category</th>
      <th>Reward image</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= reward.title %></td>
        <td><%= reward.description %></td>
        <td><%= reward.price %></td>
        <td><%= reward.category.title %></td>
         <td><%= image_tag reward.image if reward.image.attached? %></td>
      </tr>
      <p>
        <%=button_to 'Back to reward list',  employees_rewards_path(reward), method: :get %>
      </p>
  </tbody>
</table>
