  <%= form_with(model: order_delivery, url: employees_orders_path) do |f|%>
  <% if order_delivery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order_delivery.errors.count, 'error') %> prohibited this order from being saved:</h2>
      <ul>
        <% order_delivery.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  Reward:
    <div>
    <%= reward.title %>
  </div>
  Reward description:
  <div>
    <%= reward.description %>
  </div>
  Reward price:
      <div>
      <%= reward.price %>
      </div>
      Delivery method:
      <div>
      <%= reward.delivery_method %>
      </div>
  <%if reward.post_delivery? %>
    <% if employee.addresses.any? %>
        <%= f.label :address_id, 'Delivery addresses' %>
        <%= f.collection_select :address_id, employee.addresses, :id, :full_address, prompt: 'New Address...' %>
    <% end %>
      <%= f.label :street %>
      <%= f.text_field :street %>
      <%= f.label :city %>
      <%= f.text_field :city %>
      <%= f.label :postcode %>
      <%= f.text_field :postcode %>
    <% end %>
      <%= f.hidden_field :reward_id, value: reward.id %>
    <%= f.submit 'Create Order' %>
  <% end %>
  <%= button_to 'Back to Kudos view', root_path, method: :get%>



