  <%= form_with(model: order, url: employees_orders_path, action: :create) do |f|%>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, 'error') %> prohibited this order from being saved:</h2>
      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  Reward:
    <div>
    <%= reward.title %>
  </div>
  Reward description:
  <div>
    <%= reward.description %>
  </div>
  Reward price:
      <div>
      <%= reward.price %>
      </div>
      Delivery method:
      <div>
      <%= reward.delivery_method %>
      </div>
  <%if reward.post_delivery? %>
      <%= f.label :street %>
      <%= f.text_field :street, value:      order.street %>
      <%= f.label :city %>
      <%= f.text_field :city, value: order.city %>
      <%= f.label :postcode %>
      <%= f.text_field :postcode, value: order.postcode %>
    <% end %>
      <%= f.hidden_field :reward_id, value: reward.id %>
    <%= f.submit 'Create Order' %>
  <% end %>
  <%= button_to 'Back to Kudos view', root_path, method: :get%>



