<h4>Listing of <%=current_employee.email%> rewards</h4>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Time of aquisition</th>
      <th>Price at the time of aquisition</th>
    </tr>
  </thead>

  <tbody>

    <% orders.each do |order| %>
       <%if current_employee == order.employee%>
      <tr>
        <td><%= order.reward.title %></td>
        <td><%= order.reward.description %></td>
        <td><%= order.created_at %></td>
        <td><%= order.price %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<p><h6>Filtering options:</h6></p> <p> <%= link_to 'Delivered', employees_orders_path(status: 'delivered'), method: :get%> </p><%= link_to 'Not Delivered', employees_orders_path(status: 'non_delivered'), method: :get%></p>
<p> <%= link_to 'All orders', employees_orders_path%></p>
      <p><%=button_to 'Back to Kudos view', root_path, method: :get%></p>

