<div>
  <%= f.label :code %>
  <%= f.text_field :code, placeholder: "Enter Online Code" %>
</div>

<% f.object.reward.available_rewards.to_i.times do |index| %>  <div>
    <%= f.label "generated_code_#{index}" %>
    <%= f.text_field "generated_code_#{index}", readonly: true %>
  </div>
<% end %>

<div>
  <%= button_to 'Generate Codes', generate_code_admins_rewards_path, method: :post, remote: true %>
</div>
