<h1>Rewards listing page</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Category</th>
      <th>Edit Reward</th>
      <th>Delete Reward</th>
      <th>Reward image</th>
      <th>Delivery method</th>
    </tr>
  </thead>
<%= will_paginate rewards, :container => false %>
  <tbody>
    <% rewards.each do |reward| %>
      <tr>
        <td><%= reward.title %></td>
         <td><%= reward.description %></td>
          <td><%= reward.price %></td>
          <td><%= reward.category.title%></td>
        <td><%=button_to 'Edit', edit_admins_reward_path(reward), method: :get %></td>
        <td><%=button_to 'Delete',admins_reward_path(reward), method: :delete, data: {confirm: "Are you sure?"}%></td>
        <td><%= image_tag reward.image if reward.image.attached? %></td>
         <td><%= reward.delivery_method %></td>
      </tr>
    <% end %>
  </tbody>
</table>
      <%=button_to "Create New Reward", new_admins_reward_path , method: :get%>
<%= button_to 'Back to admins panel', admin_root_path, method: :get%>

