<h1>Edit number of available kudos to all Employees</h1>

<%= form_with(model: [:admins, @employee]) do |f| %>
  <%if @employee && if @employee.errors.any?  %>
    <div id="error_explanation">
      <h2>Errors that prohibited this   employee from being saved:</h2>

      <ul>
        <% @employee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
  A      <% end %>

      <%end%>

  <p>
    <%=f.label :number_of_available_kudos %><br/>
    <%= f.text_field :number_of_available_kudos %>  </p>
  <p>
    <%= f.submit %>
  </p>

<% end %>
